<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction Result</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            text-align: center;
        }
        .result-container {
            margin-top: 100px;
        }
        .result {
            background-color: #24B0BA;
            color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <div class="result-container">
        <div class="result">
            <h2>Prediction Result</h2>
            <p>The model predicts:</p>
            <h2>{{ pred }}</h2>
        </div>
    </div>
</body>
</html>
